:root {
    --primary-color: hsl(292, 42%, 14%);
    --secondary-color: hsl(292, 16%, 49%);
    --background-color: hsl(275, 100%, 97%);
    --container-background: #ffffff;
    --transition-speed: 0.5s;
    --base-font-size: 1rem; 
    --spacing-unit: 1rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

.background-image-section {
    background-image: url('./assets/images/background-pattern-desktop.svg'); 
    /* background-color: red; */
    background-position: center;
    background-size: cover; 
    height: 20rem;
    width: 100%;
}

main {
    background: var(--container-background);
    border-radius: 1rem;
    box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 37.5rem; 
    width: calc(100% - 2rem);
    margin-top: -10rem;
}

.star-icon {
    min-height: 2.5rem; 
    /* width: auto;  */
    margin-right: 1.5rem;
    margin-left: 1.5rem; 
}

h1 {
    color: var(--primary-color);
    display: flex; 
    align-items: center; 
    justify-content: left; 
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-question {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-align: left;
    font-size: 1.125rem; /* 18px */
    transition: color var(--transition-speed);
    font-weight: 600;
}

.faq-question::after {
    content: '';
    /* display: inline-block; */
    min-width: 24px; 
    height: 24px;
    background-image: url('./assets/images/icon-plus.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.faq-question[aria-expanded="true"]::after {
    background-image: url('./assets/images/icon-minus.svg');
}

.faq-question:hover {
    color: #ad28eb;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-speed) ease-in-out;
    padding: 0 var(--spacing-unit);
}

.faq-answer p {
    color: var(--secondary-color);
    margin: 0;
    padding-bottom: var(--spacing-unit);
}

/* Responsive Styles */
@media (max-width: 650px) { 
    .background-image-section {
        background-image: url('./assets/images/background-pattern-mobile.svg'); 
        /* background-color: red; */
        background-position: center;
        background-size: cover; 
        height: 14.5rem;
        width: 100%;
    }

    main {
        width: auto;
        margin-top: -6rem; 
        margin-bottom: 2rem; 
        margin-left: 1.3rem; 
        margin-right: 1.3rem; 
    }

    .star-icon {
        max-width: 1.3rem;
        height: 0.5rem;  
        margin-right: 0.7rem;
        margin-left: 0.5rem; 
    }

    h1 {
        color: var(--primary-color);
        display: flex; 
        align-items: center; 
        justify-content: left; 
        margin-bottom: 0rem;
        font-size: 2rem;
        font-weight: 700;
    }
  }
  
